In [1]:
# Importando as bibliotecas utilizadas
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
# Criando a sessão, nomeando e configurando para mostrar tabela do tipo pandas 
spark = (
    SparkSession.builder
    .appName('PySpark - Funções de Data')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [6]:
# Carregando um arquivo PARQUET para dataframe
df = spark.read.parquet('./DATASETS/LOGINS.parquet').select(F.col('data_de_nascimento'), F.col('data_cadastro'))

In [7]:
df

+------------------+-------------+
|data_de_nascimento|data_cadastro|
+------------------+-------------+
|        2006-12-18|   2023-02-26|
|        1992-06-17|   2023-02-16|
|        1921-11-11|   2023-01-02|
|        2021-06-01|   2023-01-08|
|        1969-10-28|   2023-02-14|
|        1986-05-19|   2023-03-07|
|        2018-04-20|   2023-01-13|
|        1996-05-12|   2023-02-04|
|        2021-10-05|   2023-03-02|
|        1917-01-05|   2023-02-21|
|        1912-05-25|   2023-01-25|
|        1920-05-26|   2023-02-18|
|        1938-03-11|   2023-01-19|
|        1922-09-01|   2023-02-01|
|        2013-01-10|   2023-01-07|
|        1992-10-16|   2023-01-05|
|        1945-11-18|   2023-01-24|
|        1915-11-15|   2023-01-22|
|        1964-02-01|   2023-02-16|
|        1959-02-01|   2023-02-25|
+------------------+-------------+
only showing top 20 rows

In [15]:
# Deslocar meses
(
    df
    .withColumn('desloc_mes', F.add_months(F.col('data_cadastro'), 1))
    .withColumn('desloc_mes_neg', F.add_months(F.col('data_cadastro'), -1))
)

+------------------+-------------+----------+--------------+
|data_de_nascimento|data_cadastro|desloc_mes|desloc_mes_neg|
+------------------+-------------+----------+--------------+
|        2006-12-18|   2023-02-26|2023-03-26|    2023-01-26|
|        1992-06-17|   2023-02-16|2023-03-16|    2023-01-16|
|        1921-11-11|   2023-01-02|2023-02-02|    2022-12-02|
|        2021-06-01|   2023-01-08|2023-02-08|    2022-12-08|
|        1969-10-28|   2023-02-14|2023-03-14|    2023-01-14|
|        1986-05-19|   2023-03-07|2023-04-07|    2023-02-07|
|        2018-04-20|   2023-01-13|2023-02-13|    2022-12-13|
|        1996-05-12|   2023-02-04|2023-03-04|    2023-01-04|
|        2021-10-05|   2023-03-02|2023-04-02|    2023-02-02|
|        1917-01-05|   2023-02-21|2023-03-21|    2023-01-21|
|        1912-05-25|   2023-01-25|2023-02-25|    2022-12-25|
|        1920-05-26|   2023-02-18|2023-03-18|    2023-01-18|
|        1938-03-11|   2023-01-19|2023-02-19|    2022-12-19|
|        1922-09-01|   2023-02-01|2023-03-01|    2023-01-01|
|        2013-01-10|   2023-01-07|2023-02-07|    2022-12-07|
|        1992-10-16|   2023-01-05|2023-02-05|    2022-12-05|
|        1945-11-18|   2023-01-24|2023-02-24|    2022-12-24|
|        1915-11-15|   2023-01-22|2023-02-22|    2022-12-22|
|        1964-02-01|   2023-02-16|2023-03-16|    2023-01-16|
|        1959-02-01|   2023-02-25|2023-03-25|    2023-01-25|
+------------------+-------------+----------+--------------+
only showing top 20 rows

In [21]:
# Data, hora e fuso atual
(
    df
    .withColumn('data_atual', F.current_date())
    .withColumn('data_hora_atual', F.current_timestamp())
    .withColumn('fuso_atual', F.current_timezone())
)

+------------------+-------------+----------+--------------------+-----------------+
|data_de_nascimento|data_cadastro|data_atual|     data_hora_atual|       fuso_atual|
+------------------+-------------+----------+--------------------+-----------------+
|        2006-12-18|   2023-02-26|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1992-06-17|   2023-02-16|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1921-11-11|   2023-01-02|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        2021-06-01|   2023-01-08|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1969-10-28|   2023-02-14|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1986-05-19|   2023-03-07|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        2018-04-20|   2023-01-13|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1996-05-12|   2023-02-04|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        2021-10-05|   2023-03-02|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1917-01-05|   2023-02-21|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1912-05-25|   2023-01-25|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1920-05-26|   2023-02-18|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1938-03-11|   2023-01-19|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1922-09-01|   2023-02-01|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        2013-01-10|   2023-01-07|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1992-10-16|   2023-01-05|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1945-11-18|   2023-01-24|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1915-11-15|   2023-01-22|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1964-02-01|   2023-02-16|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
|        1959-02-01|   2023-02-25|2024-03-22|2024-03-22 19:59:...|America/Sao_Paulo|
+------------------+-------------+----------+--------------------+-----------------+
only showing top 20 rows

In [25]:
# Deslocamento de data
(
    df
    .withColumn('semana_apos', F.date_add(F.col('data_cadastro'), 7))
    .withColumn('semana_antes', F.date_add(F.col('data_cadastro'), -7))
    .withColumn('semana_antes_datesub', F.date_sub(F.col('data_cadastro'), 7))
    .withColumn('semana_apos_datesub', F.date_sub(F.col('data_cadastro'), -7))
)

+------------------+-------------+-----------+------------+--------------------+-------------------+
|data_de_nascimento|data_cadastro|semana_apos|semana_antes|semana_antes_datesub|semana_apos_datesub|
+------------------+-------------+-----------+------------+--------------------+-------------------+
|        2006-12-18|   2023-02-26| 2023-03-05|  2023-02-19|          2023-02-19|         2023-03-05|
|        1992-06-17|   2023-02-16| 2023-02-23|  2023-02-09|          2023-02-09|         2023-02-23|
|        1921-11-11|   2023-01-02| 2023-01-09|  2022-12-26|          2022-12-26|         2023-01-09|
|        2021-06-01|   2023-01-08| 2023-01-15|  2023-01-01|          2023-01-01|         2023-01-15|
|        1969-10-28|   2023-02-14| 2023-02-21|  2023-02-07|          2023-02-07|         2023-02-21|
|        1986-05-19|   2023-03-07| 2023-03-14|  2023-02-28|          2023-02-28|         2023-03-14|
|        2018-04-20|   2023-01-13| 2023-01-20|  2023-01-06|          2023-01-06|         2023-01-20|
|        1996-05-12|   2023-02-04| 2023-02-11|  2023-01-28|          2023-01-28|         2023-02-11|
|        2021-10-05|   2023-03-02| 2023-03-09|  2023-02-23|          2023-02-23|         2023-03-09|
|        1917-01-05|   2023-02-21| 2023-02-28|  2023-02-14|          2023-02-14|         2023-02-28|
|        1912-05-25|   2023-01-25| 2023-02-01|  2023-01-18|          2023-01-18|         2023-02-01|
|        1920-05-26|   2023-02-18| 2023-02-25|  2023-02-11|          2023-02-11|         2023-02-25|
|        1938-03-11|   2023-01-19| 2023-01-26|  2023-01-12|          2023-01-12|         2023-01-26|
|        1922-09-01|   2023-02-01| 2023-02-08|  2023-01-25|          2023-01-25|         2023-02-08|
|        2013-01-10|   2023-01-07| 2023-01-14|  2022-12-31|          2022-12-31|         2023-01-14|
|        1992-10-16|   2023-01-05| 2023-01-12|  2022-12-29|          2022-12-29|         2023-01-12|
|        1945-11-18|   2023-01-24| 2023-01-31|  2023-01-17|          2023-01-17|         2023-01-31|
|        1915-11-15|   2023-01-22| 2023-01-29|  2023-01-15|          2023-01-15|         2023-01-29|
|        1964-02-01|   2023-02-16| 2023-02-23|  2023-02-09|          2023-02-09|         2023-02-23|
|        1959-02-01|   2023-02-25| 2023-03-04|  2023-02-18|          2023-02-18|         2023-03-04|
+------------------+-------------+-----------+------------+--------------------+-------------------+
only showing top 20 rows

In [40]:
# Formatar data
# Dia -> d dd
# Mês -> M MM MMM MMMM
# Ano -> y yy
# Dia da Semana -> E
# https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html
(
    df
    .withColumn('data_formatada', F.date_format(F.col('data_de_nascimento'), 'E, dd/MM/yy'))
)

+------------------+-------------+--------------+
|data_de_nascimento|data_cadastro|data_formatada|
+------------------+-------------+--------------+
|        2006-12-18|   2023-02-26| Mon, 18/12/06|
|        1992-06-17|   2023-02-16| Wed, 17/06/92|
|        1921-11-11|   2023-01-02| Fri, 11/11/21|
|        2021-06-01|   2023-01-08| Tue, 01/06/21|
|        1969-10-28|   2023-02-14| Tue, 28/10/69|
|        1986-05-19|   2023-03-07| Mon, 19/05/86|
|        2018-04-20|   2023-01-13| Fri, 20/04/18|
|        1996-05-12|   2023-02-04| Sun, 12/05/96|
|        2021-10-05|   2023-03-02| Tue, 05/10/21|
|        1917-01-05|   2023-02-21| Fri, 05/01/17|
|        1912-05-25|   2023-01-25| Sat, 25/05/12|
|        1920-05-26|   2023-02-18| Wed, 26/05/20|
|        1938-03-11|   2023-01-19| Fri, 11/03/38|
|        1922-09-01|   2023-02-01| Fri, 01/09/22|
|        2013-01-10|   2023-01-07| Thu, 10/01/13|
|        1992-10-16|   2023-01-05| Fri, 16/10/92|
|        1945-11-18|   2023-01-24| Sun, 18/11/45|
|        1915-11-15|   2023-01-22| Mon, 15/11/15|
|        1964-02-01|   2023-02-16| Sat, 01/02/64|
|        1959-02-01|   2023-02-25| Sun, 01/02/59|
+------------------+-------------+--------------+
only showing top 20 rows

In [54]:
# Diferença de datas
(
    df
    .withColumn('idade_dias', F.date_diff(F.current_date(), F.col('data_de_nascimento')))
    .withColumn('idade_meses', F.months_between(F.current_date(), F.col('data_de_nascimento')))
)

+------------------+-------------+----------+-------------+
|data_de_nascimento|data_cadastro|idade_dias|  idade_meses|
+------------------+-------------+----------+-------------+
|        2006-12-18|   2023-02-26|      6304| 207.12903226|
|        1992-06-17|   2023-02-16|     11601| 381.16129032|
|        1921-11-11|   2023-01-02|     37387|1228.35483871|
|        2021-06-01|   2023-01-08|      1025|  33.67741935|
|        1969-10-28|   2023-02-14|     19869| 652.80645161|
|        1986-05-19|   2023-03-07|     13822| 454.09677419|
|        2018-04-20|   2023-01-13|      2163|  71.06451613|
|        1996-05-12|   2023-02-04|     10176| 334.32258065|
|        2021-10-05|   2023-03-02|       899|   29.5483871|
|        1917-01-05|   2023-02-21|     39158| 1286.5483871|
|        1912-05-25|   2023-01-25|     40844|1341.90322581|
|        1920-05-26|   2023-02-18|     37921|1245.87096774|
|        1938-03-11|   2023-01-19|     31423|1032.35483871|
|        1922-09-01|   2023-02-01|     37093|1218.67741935|
|        2013-01-10|   2023-01-07|      4089| 134.38709677|
|        1992-10-16|   2023-01-05|     11480| 377.19354839|
|        1945-11-18|   2023-01-24|     28614| 940.12903226|
|        1915-11-15|   2023-01-22|     39575|1300.22580645|
|        1964-02-01|   2023-02-16|     21965| 721.67741935|
|        1959-02-01|   2023-02-25|     23791| 781.67741935|
+------------------+-------------+----------+-------------+
only showing top 20 rows

In [50]:
# Dia e semana do ano, mês e semana
(
    df
    .withColumn('dia_mes', F.dayofmonth(F.col('data_de_nascimento')))
    .withColumn('dia_semana', F.dayofweek(F.col('data_de_nascimento')))
    .withColumn('dia_ano', F.dayofyear(F.col('data_de_nascimento')))
    .withColumn('semana_dia', F.weekday(F.col('data_de_nascimento')))
    .withColumn('semana_ano', F.weekofyear(F.col('data_de_nascimento')))
)

+------------------+-------------+-------+----------+-------+----------+----------+
|data_de_nascimento|data_cadastro|dia_mes|dia_semana|dia_ano|semana_dia|semana_ano|
+------------------+-------------+-------+----------+-------+----------+----------+
|        2006-12-18|   2023-02-26|     18|         2|    352|         0|        51|
|        1992-06-17|   2023-02-16|     17|         4|    169|         2|        25|
|        1921-11-11|   2023-01-02|     11|         6|    315|         4|        45|
|        2021-06-01|   2023-01-08|      1|         3|    152|         1|        22|
|        1969-10-28|   2023-02-14|     28|         3|    301|         1|        44|
|        1986-05-19|   2023-03-07|     19|         2|    139|         0|        21|
|        2018-04-20|   2023-01-13|     20|         6|    110|         4|        16|
|        1996-05-12|   2023-02-04|     12|         1|    133|         6|        19|
|        2021-10-05|   2023-03-02|      5|         3|    278|         1|        40|
|        1917-01-05|   2023-02-21|      5|         6|      5|         4|         1|
|        1912-05-25|   2023-01-25|     25|         7|    146|         5|        21|
|        1920-05-26|   2023-02-18|     26|         4|    147|         2|        22|
|        1938-03-11|   2023-01-19|     11|         6|     70|         4|        10|
|        1922-09-01|   2023-02-01|      1|         6|    244|         4|        35|
|        2013-01-10|   2023-01-07|     10|         5|     10|         3|         2|
|        1992-10-16|   2023-01-05|     16|         6|    290|         4|        42|
|        1945-11-18|   2023-01-24|     18|         1|    322|         6|        46|
|        1915-11-15|   2023-01-22|     15|         2|    319|         0|        46|
|        1964-02-01|   2023-02-16|      1|         7|     32|         5|         5|
|        1959-02-01|   2023-02-25|      1|         1|     32|         6|         5|
+------------------+-------------+-------+----------+-------+----------+----------+
only showing top 20 rows

In [53]:
# Mês do ano e último dia do mês
(
    df
    .withColumn('mes_ano', F.month(F.col('data_de_nascimento')))
    .withColumn('ultimo_dia_mes', F.day(F.last_day(F.col('data_de_nascimento'))))
)

+------------------+-------------+-------+--------------+
|data_de_nascimento|data_cadastro|mes_ano|ultimo_dia_mes|
+------------------+-------------+-------+--------------+
|        2006-12-18|   2023-02-26|     12|            31|
|        1992-06-17|   2023-02-16|      6|            30|
|        1921-11-11|   2023-01-02|     11|            30|
|        2021-06-01|   2023-01-08|      6|            30|
|        1969-10-28|   2023-02-14|     10|            31|
|        1986-05-19|   2023-03-07|      5|            31|
|        2018-04-20|   2023-01-13|      4|            30|
|        1996-05-12|   2023-02-04|      5|            31|
|        2021-10-05|   2023-03-02|     10|            31|
|        1917-01-05|   2023-02-21|      1|            31|
|        1912-05-25|   2023-01-25|      5|            31|
|        1920-05-26|   2023-02-18|      5|            31|
|        1938-03-11|   2023-01-19|      3|            31|
|        1922-09-01|   2023-02-01|      9|            30|
|        2013-01-10|   2023-01-07|      1|            31|
|        1992-10-16|   2023-01-05|     10|            31|
|        1945-11-18|   2023-01-24|     11|            30|
|        1915-11-15|   2023-01-22|     11|            30|
|        1964-02-01|   2023-02-16|      2|            29|
|        1959-02-01|   2023-02-25|      2|            28|
+------------------+-------------+-------+--------------+
only showing top 20 rows

In [56]:
# Próximo domingo da semana de tal data
(
    df
    .withColumn('proximo_domingo', F.next_day(F.col('data_de_nascimento'), 'Sun'))
)

+------------------+-------------+---------------+
|data_de_nascimento|data_cadastro|proximo_domingo|
+------------------+-------------+---------------+
|        2006-12-18|   2023-02-26|     2006-12-24|
|        1992-06-17|   2023-02-16|     1992-06-21|
|        1921-11-11|   2023-01-02|     1921-11-13|
|        2021-06-01|   2023-01-08|     2021-06-06|
|        1969-10-28|   2023-02-14|     1969-11-02|
|        1986-05-19|   2023-03-07|     1986-05-25|
|        2018-04-20|   2023-01-13|     2018-04-22|
|        1996-05-12|   2023-02-04|     1996-05-19|
|        2021-10-05|   2023-03-02|     2021-10-10|
|        1917-01-05|   2023-02-21|     1917-01-07|
|        1912-05-25|   2023-01-25|     1912-05-26|
|        1920-05-26|   2023-02-18|     1920-05-30|
|        1938-03-11|   2023-01-19|     1938-03-13|
|        1922-09-01|   2023-02-01|     1922-09-03|
|        2013-01-10|   2023-01-07|     2013-01-13|
|        1992-10-16|   2023-01-05|     1992-10-18|
|        1945-11-18|   2023-01-24|     1945-11-25|
|        1915-11-15|   2023-01-22|     1915-11-21|
|        1964-02-01|   2023-02-16|     1964-02-02|
|        1959-02-01|   2023-02-25|     1959-02-08|
+------------------+-------------+---------------+
only showing top 20 rows

In [60]:
# Converter em data
(
    df
    .withColumn('fazer_data', F.make_date(F.lit(2024), F.lit(3), F.lit(22)))
    .withColumn('para_data', F.to_date(F.lit('2024-03-22')))
)

+------------------+-------------+----------+----------+
|data_de_nascimento|data_cadastro|fazer_data| para_data|
+------------------+-------------+----------+----------+
|        2006-12-18|   2023-02-26|2024-03-22|2024-03-22|
|        1992-06-17|   2023-02-16|2024-03-22|2024-03-22|
|        1921-11-11|   2023-01-02|2024-03-22|2024-03-22|
|        2021-06-01|   2023-01-08|2024-03-22|2024-03-22|
|        1969-10-28|   2023-02-14|2024-03-22|2024-03-22|
|        1986-05-19|   2023-03-07|2024-03-22|2024-03-22|
|        2018-04-20|   2023-01-13|2024-03-22|2024-03-22|
|        1996-05-12|   2023-02-04|2024-03-22|2024-03-22|
|        2021-10-05|   2023-03-02|2024-03-22|2024-03-22|
|        1917-01-05|   2023-02-21|2024-03-22|2024-03-22|
|        1912-05-25|   2023-01-25|2024-03-22|2024-03-22|
|        1920-05-26|   2023-02-18|2024-03-22|2024-03-22|
|        1938-03-11|   2023-01-19|2024-03-22|2024-03-22|
|        1922-09-01|   2023-02-01|2024-03-22|2024-03-22|
|        2013-01-10|   2023-01-07|2024-03-22|2024-03-22|
|        1992-10-16|   2023-01-05|2024-03-22|2024-03-22|
|        1945-11-18|   2023-01-24|2024-03-22|2024-03-22|
|        1915-11-15|   2023-01-22|2024-03-22|2024-03-22|
|        1964-02-01|   2023-02-16|2024-03-22|2024-03-22|
|        1959-02-01|   2023-02-25|2024-03-22|2024-03-22|
+------------------+-------------+----------+----------+
only showing top 20 rows